<div *ngIf="formGroup" class="container-form">
  <form [formGroup]="formGroup">
    <h1>Iniciar Sesión</h1>
    <div class="container-form__inputs">
      <app-input
        formControlName="user"
        [type]="'text'"
        [placeholder]="'placeholder'"
        [messageInformative]="'messageInformative'"
        [messageError]="'messageError'"
        [textInformative]="'textInformative'"
        [iconName]="'iconName'"
        [placeholder]="'Usuario'"
      ></app-input>

      <app-input
        formControlName="pass"
        [type]="'password'"
        [placeholder]="'placeholder'"
        [messageInformative]="'messageInformative'"
        [messageError]="'messageError'"
        [textInformative]="'textInformative'"
        [iconName]="'iconName'"
        [placeholder]="'Contraseña'"
      ></app-input>
    </div>

    <app-button
      text="Enviar"
      [color]="'#000'"
      [isDisabled]="true"
      (handleClick)="handleClick()"
    ></app-button>
  </form>
</div>
